#####################################################
##
##  PersonalSettings
##  Edit to suit your environment.
##

[PersonalSettings]
vpc_name = MyVPC
vpc_cidr                    = 10.0.0.0/16
vpc_subnet_az1_public_cidr  = 10.0.0.0/24
vpc_subnet_az1_private_cidr = 10.0.128.0/24
vpc_subnet_az2_public_cidr  = 10.0.1.0/24
vpc_subnet_az2_private_cidr = 10.0.129.0/24
region                      = 
vpc_subnet_az1              = 
vpc_subnet_az2              = 
stack_name = MyStack
stack_service_role_arn = arn:aws:iam::
stack_default_instance_profile_arn = arn:aws:iam::

##
## Enable if you prefer to add permission to the stack.
##
#    [[stack_permissions]]
#        [[[username]]]
#            iam_user_arn = arn:aws:iam::
#            allow_ssh = True
#            allow_sudo = True
#




#####################################################
##
##  OptionalSettings
##  Edit if you prefer.
##

[OptionalSettings]
stack_root_device_type = ebs
instance_type_admin = t1.micro
instance_type_nat = t1.micro

#
# Timeout settings (seconds)
# Increase values if setup.py fail.
#
ec2_timeout_check_sg = 20
ec2_timeout_retrieve_id = 20
vpc_timeout_create_route_to_nat = 120






###--------------------------------------------------------###
### You do NOT need to edit below this line in most cases. ###
###--------------------------------------------------------###


##  awscli Cookbook Settings
[awscli]
version = 1.3.1

##
##  VPC Settings
##

[VPC]
subnet_name_template = %(vpc_name)s %(layer)s segment %(group)s
rtb_name_template = %(vpc_name)s %(layer)s segment %(group)s
igw_name_template = %(vpc_name)s Internet Gateway
target_via_checking_nat_az1 = 8.8.4.4
target_via_checking_nat_az2 = 8.8.8.8
target_via_inetgw_az1 = google.co.jp
target_via_inetgw_az2 = google.co.jp


##
##  OpsWorks Settings
##

[OpsWorks]
stack_default_os = Custom
instance_start_delay = 3.0
necessary_security_groups = AWS-OpsWorks-Custom-Server,AWS-OpsWorks-Default-Server
custom_cookbooks_giturl = https://github.com/yuki-takei/dupsworks-template-cc.git
custom_cookbooks_gitrev = 16f7da08fce5f0a475f2d9840604765c7dec551d

packages_for_admin_layer = traceroute
packages_for_nat_layer = traceroute,jq
instance_os_admin = Ubuntu 12.04 LTS
instance_os_nat = Amazon Linux
